# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/
env/
.venv/
env.bak/
*.bak/
*.old/

# Flask specific
instance/
.webassets-cache

# Logs and debug files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# Ignore database file if needed
faqs.db

# Jupyter Notebook
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyCharm / IDE-specific files
.idea/
*.iml
*.ipr
*.iws

# MacOS-specific
.DS_Store
.AppleDouble
.LSOverride

# Windows-specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# VSCode-specific
.vscode/

# Any temporary files
*.tmp
*.temp
